@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


:root {
    --marineblue: hsl(213, 96%, 18%);
    --purplishblue: hsl(243, 100%, 62%);
    --pastel: hsl(228, 100%, 84%);
    --lightblue: hsl(206, 94%, 87%);
    --strawberry: hsl(354, 84%, 57%);
    --coolgray: hsl(231, 11%, 63%);
    --lightgray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Ubuntu', sans-serif;
}

label:has(input:checked) {
    background-color: hsl(231, 100%, 99%);
    border: solid 1px #3b82f6;

  }
  